parameters:
	ignoreErrors:
		-
			message: "#^Access to constant SORT_FULL on an unknown class Kint\\\\Renderer\\\\Renderer\\.$#"
			count: 1
			path: app/Config/Kint.php

		-
			message: "#^Call to an undefined method CodeIgniter\\\\HTTP\\\\RequestInterface\\:\\:getPost\\(\\)\\.$#"
			path: app/Controllers/*

		-
			message: """
				#^Call to deprecated method getMethod\\(\\) of class CodeIgniter\\\\HTTP\\\\OutgoingRequestInterface\\:
				The \\$upper functionality will be removed and this will revert to its PSR\\-7 equivalent$#
			"""
			path: app/Controllers/*

		-
			message: "#^Call to an undefined method CodeIgniter\\\\HTTP\\\\RequestInterface\\:\\:getVar\\(\\)\\.$#"
			path: app/Controllers/*
